.fr {
  float: right;
}

@font-face {
  font-family: itemFont;
  src: url(./fonts/Fontin-Bold.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 10px;
  background-color: #1d1a1a;
}

body #root {
  background-color: none;
}

.header {
  padding: 15px;
  text-align: left;
  background-color: none;
  margin-bottom: -20px;
  margin-top: -40px;
}

.header h1 {
  color: #d4d4d4;
  font-size: 40px;
  margin-bottom: -15px;
}

.header p {
  font-size: larger;
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: none;
  padding: 5px;
  margin-bottom: -16px;
}

.topnav button {
  background-color: chocolate;
  /* Green */
  color: black;
  border-style: solid;
  border-color: #c4580b;
  border-radius: 5px;
  padding: 10px 10px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.topnav button:hover {
  background-color: #4499a8;
}

.topnav button:active {
  background-color: black;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

.content:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  padding: 0px;
}

.main {
  padding: 8px;
  background-color: none;
  width: 73%;
}

.output {
  width: 27%;
  background-color: none;
  padding: 8px;
}

.output_box {
  background-color: black;
  color: #2fb2c9;
  font-family: itemFont;
  overflow-y: scroll;
  overflow-x: hidden;
  border-style: solid;
  border-color: chocolate;
  border-radius: 8px;
  padding: 1px;
  padding-left: 15px;
  padding-right: 10px;
  height: 100%;
  width: 100%;
}

.output_box .sticky {
  background-position-y: -50px;
  padding-top: 5px;
  padding-bottom: 1px;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  margin-top: -15px;
  margin-bottom: 10px;
  top: -1px;
}

.output_box h1 {
  margin: 0;
  margin-top: 5px;
}

.output_box p {
  margin-top: 0;
  font-size: 15px;
}

.output_box li {
  list-style-type: none;
  font-size: 18px;
}

.output_box .aura_stat {
  color: rbg(136, 136, 255);
}

.output_box .aura_name {
  color: #dc4b4b;
}

.page {
  z-index: 2;
  float: left;
  height: 780px;
}

.mainapp {
  background-color: #ec0c0c;
  background-color: black;
  color: #2fb2c9;
  font-family: itemFont;
  border-style: solid;
  border-color: chocolate;
  border-radius: 8px;
  padding: 1px;
  padding-left: 15px;
  padding-right: 10px;
  height: 100%;
  width: 100%;
}

.gem_page {
  background-color: #0f4f5a;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.gem_grps {
  /*
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    margin-top: -2%;
    float: left;
    color: black;
    width: 100%;
    height: 94%;
    */
  background-color: #3a4141;
  color: #f0f0f0;
}

.gem_grps .auras {
  float: left;
  width: 420px;
  border-radius: 5px;
  background: #111;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #bbb;
  display: block;
}

.gem_grps .auras .aura {
  float: left;
  font-size: 16px;
  line-height: 35px;
  width: 420px;
}

.gem_grps .auras .inputs {
  float: right;
}

.gem_grps .auras .aura_title {
  font-size: 16px;
}

.gem_grps .auras .details {
  font-size: 14px;
}

.gem_grps .auras .generosity {
  float: left;
  font-size: 16px;
  line-height: 35px;
  width: 420px;
}

.gem_grps .auras .generosity img {
  border-radius: 5px;
  width: 35px;
  height: 35px;
  float: left;
  margin-right: 5px;
}

.gem_grps .auras .generosity select {
  width: 100px;
}

.gem_grps .auras .generosity .inputs {
  float: right;
}

.gem_grps .auras .awakgenerosity {
  float: right;
}

.gem_grps .auras .awakgenerosity img {
  border-radius: 5px;
  width: 35px;
  height: 35px;
  float: left;
  margin-right: 5px;
}

.gem_grps .auras img {
  border-radius: 5px;
  width: 35px;
  height: 35px;
  float: left;
  margin-right: 5px;
}

.gem_grps .auras .disabled input[type=number] {
  border: 1px solid #777;
}

.gem_grps .auras input[type=number] {
  border: 1px solid #ccc;
  background: #222;
  font-size: 14px;
  color: #fff;
  line-height: 25px;
  padding: 0 2px;
  width: 50px;
  margin-right: 3px;
}

.gem_grps .auras select {
  border: 1px solid #ccc;
  background: #222;
  font-size: 14px;
  color: #fff;
  line-height: 25px;
  padding: 2px;
  width: 85px;
  margin-right: 3px;
  height: 27px;
}
/*# sourceMappingURL=styles.css.map */