.getColorCode{
    bg_color: rgb(41, 46, 40);
}
*{
    box-sizing: border-box;
}

$navColors: (
    bg_color: rgb(48, 168, 24),

);
$bgColors: (
    bg_color: rgb(141, 45, 45),
);

body {
    padding: 10px;
    background-color: rgb(51, 46, 46);

    #root {
        background-color: map-get($bgColors, bg_color);
    }
}

.header{
    padding: 1px;
    text-align: center;
    background-color: chartreuse;

    h1{
        font-size: 40px;
    }

    p{
        font-size: larger;
        color: white;
    }
}

.topnav {
    overflow: hidden;
    background-color: map-get($navColors, bg_color);
    padding: 5px;
    button{
        background-color: #b7e4ec; /* Green */
        border: none;
        padding: 10px 10px;
        width: 150px;
        color: rgb(255, 0, 0);
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    button:hover{
        background-color: #4499a8;
    }
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.content:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    padding: 15px;
}


.main{
    padding: 8px;
    background-color: aqua;
    width: 75%;
}

.output{

    width: 25%;
    background-color: #f1f1f1;
    padding: 8px;

}

.output_box {
    background-color: blueviolet;
    padding: 1px;
    padding-left: 15px;
    padding-right: 10px;
    height: 100%;
    width: 100%;
}

.page{
    float: left;
    height: 700px; 
}

.aura_stat{
    list-style-type: none;
    font-size: 18px;
}